<!DOCTYPE html>
<html lang="en" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">

<head>
    <title>Registration</title>
</head>

<body>
    <table bgcolor="#f9f9f9"
        style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;background-color:#f9f9f9;height:100%;width:100%;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-weight:normal;line-height:130%;font-size:16px;margin:0;padding:0">
        <tbody>
            <tr align="left" style="vertical-align:top;text-align:left;padding:0">
                <td align="center" valign="top"
                    style="word-wrap:break-word;border-collapse:collapse!important;vertical-align:top;text-align:left;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-weight:normal;line-height:130%;font-size:16px;margin:0;padding:0">
                  
                    <center style="width:100%;min-width:580px">
                        <table align="center" bgcolor="#fefefe"
                            style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:inherit;background-color:#fefefe;width:580px;margin:0 auto;padding:0">
                            <tbody>
                                <tr align="left" style="vertical-align:top;text-align:left;padding:0">
                                    <td align="left" valign="top"
                                        style="word-wrap:break-word;border-collapse:collapse!important;vertical-align:top;text-align:left;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-weight:normal;line-height:130%;font-size:16px;margin:0;padding:0px 60px 45px">
                                        <div align="left"
                                            style="color:#525252;font-family:Helvetica,Arial,sans-serif;font-weight:normal;text-align:left;font-size:15px;margin:0 0 17px;display: flex;align-items: center;">
                                            <br>
                                            <p  style="padding-bottom:15px ;">

                                              Hi ${userName}! 
                                            </p >
                                        </div>
                                        <div align="left"
                                            style="color:#525252;font-family:Helvetica,Arial,sans-serif;font-weight:normal;text-align:left;line-height:1.5;font-size:15px;margin:0 0 0px;padding:0">
                                           Thank you for choosing Trivia Farm. 
                                           
                                          <a href=${link}>
                                              click Here 
                                          </a> 
                                            to complete your Sign Up procedures and verify your account.<br>
                                                ​</b></div>
                                       
                                       
                                     
                                        <p align="left"
                                            style="color:#525252;font-family:Helvetica,Arial,sans-serif;font-weight:normal;text-align:left;line-height:1.5;font-size:15px;margin:0 0 17px;padding:0">
                                           Remember, Never share this Verification code with anyone. </p>
                                        
                                        
                                        
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                    
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>