<!DOCTYPE html>
<html lang="en" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">

<head>
    <title>Registration</title>

<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_SharedWithUsers msdt:dt="string">Projects (Web &amp; Mobile) Members</mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_SharedWithUsers>
<mso:SharedWithUsers msdt:dt="string">18;#Projects (Web &amp; Mobile) Members</mso:SharedWithUsers>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>

<body>
    <table bgcolor="#f9f9f9"
        style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;background-color:#f9f9f9;height:100%;width:100%;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-weight:normal;line-height:130%;font-size:16px;margin:0;padding:0">
        <tbody>
            <tr align="left" style="vertical-align:top;text-align:left;padding:0">
                <td align="center" valign="top"
                    style="word-wrap:break-word;border-collapse:collapse!important;vertical-align:top;text-align:left;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-weight:normal;line-height:130%;font-size:16px;margin:0;padding:0">
                    <center style="width:100%;min-width:580px">
                        <table align="center" bgcolor="#fefefe"
                            style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:inherit;background-color:#fefefe;width:580px;margin:0 auto;padding:0">
                            <tbody>
                                <tr align="left" style="vertical-align:top;text-align:left;padding:0">
                                    <td align="left" valign="top"
                                        style="border-top: 5px solid #1D9BF0;word-wrap:break-word;border-collapse:collapse!important;vertical-align:top;text-align:left;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-weight:normal;line-height:130%;font-size:16px;margin:0;padding:25px 60px 0px">
                                        <table width="100%"
                                            style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0">
                                            <tbody>
                                                <tr align="left" style="vertical-align:top;text-align:left;padding:0">
                                                    <td align="left" valign="top"
                                                        style="word-wrap:break-word;border-collapse:collapse!important;vertical-align:top;text-align:left;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-weight:normal;line-height:130%;font-size:16px;margin:0;padding:0">
                                                        <img width="165" height=""
                                                            style="width:165px;height:px;outline:none;text-decoration:none;max-width:100%;clear:both;display:block;text-align:left;padding:0px 0 10px"
                                                            src="https://mowaeedi-profile-image.s3.me-central-1.amazonaws.com/mawaeedi-logo.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAUYD32B2R27XYZB6Y%2F20240404%2Fme-central-1%2Fs3%2Faws4_request&X-Amz-Date=20240404T121053Z&X-Amz-Expires=86400&X-Amz-Signature=ec33e410a60995e2a93191d20e95e97ec05b07c09da0c571d691cb829785bb32&X-Amz-SignedHeaders=host">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                    <center style="width:100%;min-width:580px">
                        <table align="center" bgcolor="#fefefe"
                            style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:inherit;background-color:#fefefe;width:580px;margin:0 auto;padding:0">
                            <tbody>
                                <tr align="left" style="vertical-align:top;text-align:left;padding:0">
                                    <td align="left" valign="top"
                                        style="word-wrap:break-word;border-collapse:collapse!important;vertical-align:top;text-align:left;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-weight:normal;line-height:130%;font-size:16px;margin:0;padding:0px 60px 45px">
                                        <p align="left"
                                            style="color:#525252;font-family:Helvetica,Arial,sans-serif;font-weight:normal;text-align:left;line-height:1.5;font-size:15px;margin:0 0 17px;padding:0">
                                            <br>
                                            Dear ${userName}, 
                                        </p>
                                        <p align="left"
                                            style="color:#525252;font-family:Helvetica,Arial,sans-serif;font-weight:normal;text-align:left;line-height:1.5;font-size:15px;margin:0 0 0px;padding:0">
                                            Welcome to Trivia Farm! We're thrilled to have you join our community.<br>
                                                ​</b></p>
                                        
                                        <p align="left"
                                            style="color:#525252;font-family:Helvetica,Arial,sans-serif;font-weight:normal;text-align:left;line-height:1.5;font-size:15px;margin:0 0 0px;padding:0">
                                            Thank you for registering with us. You're now part of a community of Trivia Enthusiasts..<br>
                                            ​
                                        </p>
                                        
                                       
                                        <!-- <p align="left"
                                            style="color:#525252;font-family:Helvetica,Arial,sans-serif;font-weight:normal;text-align:left;line-height:1.5;font-size:15px;margin:0 0 17px;padding:0">
                                            Remember to check out our <b><a
                                                    href=""
                                                    style="color:#1D9BF0!important;font-family:Helvetica,Arial,sans-serif;font-weight:normal;text-align:left;line-height:130%;text-decoration:underline;margin:0;padding:0"
                                                    target="_blank">Support
                                                    Center</a></b> for <b>articles</b> on all things Mowaeedi .<br>
                                            ​</p> -->
                                        <h2 align="left"
                                            style="color:#1d364b;font-family:Helvetica,Arial,sans-serif;font-weight:normal;text-align:left;line-height:130%;word-wrap:normal;font-size:18px;margin:0 0 10px;padding:0">
                                            trivia 24/7.</h2>
                                        <p align="left"
                                            style="color:#525252;font-family:Helvetica,Arial,sans-serif;font-weight:normal;text-align:left;line-height:1.5;font-size:15px;margin:0 0 17px;padding:0">
                                            Get to learning!</p>
                                        <p align="left"
                                            style="color:#525252;font-family:Helvetica,Arial,sans-serif;font-weight:normal;text-align:left;line-height:1.5;font-size:15px;margin:0 0 17px;padding:0">
                                            <br>
                                            ​<br>
                                            Best regards,<br>
                                            ​<b>Trivia Farm </b>
                                        </p>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                    
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>